<!---Capa--->
<section class="capa">
  <div class="texto-capa">
    <h1>Music for everyone</h1>
      <a href="" class="btn btn-lg btn-custom btn-roxo">Enjoy Spotify</a>
      <a href="" class="btn btn-lg btn-custom btn-branco">Spotify Premium</a>
  </div> <!-- final texto-capa-->
</section><!-- final capa-->