<div class="artist_info_container">

{{#each data}}
  <div class="artist_info">
  <img src="{{images.0.url}}" id="album_image">
  {{name}}
  <a href="/tracks/{{id}}">View Tracks</a>
  </div>
{{/each}}

</div>