<div>
  {{#each albums}}
  <h2>{{name}}</h2>

  <img src={{images.1.url}}>

  <button><a href="/albums/{{id}}">View Albums</a></button>

  <a href="/albums-tracks">View tracks</a>

  {{/each}}

</div>