<h1>Search results go here</h1>

<ul class="search-results">
  {{#each albums}}
    <li class="search-result">
        <img src={{images.1.url}} alt="image" />
        <div>
       <p> {{name}}</p>
      <a href="/tracks/{{id}}">View trackss</a>
        
        </div>
      </buttun>
    </li>
  {{/each}}
</ul>