  <div class="result-container">
<h1>Results for {{ name }}</h1>
  {{#each artistInfo}}

<ul class="search-results">
    <li class="search-result">
  {{ name }}  
  {{#each images }}
      {{#if @first }}
  <img src="{{ url }}"/>
  {{/if}}
  {{/each}}
  <button><a href="/albums/{{ id }}">View Albuns</a></button>
        </div>
    </li>
</ul>

</div>
  {{/each}}