 {{#each artist}}
  {{ name }}
  {{#each images}}
  {{#if @first}}
  <img src= "{{url}}">
  <button>
    <a href="/albums/someArtistIdGoesHere">View Albums</a>
  </button>
  {{/if}}
  {{/each}}
  {{/each}}
