<div class="search-results">
  {{#each artists}}
    <div class="search-result">
        <img src={{images.1.url}}>
    <div class="h2btn-search">

        <h2>{{name}}</h2>
        <button class="btn-artist-search"><a href="/albums/{{this.id}}">View Albums</a></button>
      
    </div>
      
    </div>
  {{/each}}
</div>
