{{#each artist}}
  <h1>{{ name }}</h1>
  <button>
    <a href="/albums/{{ id }}">View Albums</a>
  </button>
  {{#each images}}
  {{#if @first}}
  <img src= "{{url}}">
  {{/if}}
  {{/each}}
  {{/each}}

