<h1>Search results go here</h1>

<ul class="search-results">
  {{#each artists}}
    <li class="search-result">
        <img src={{images.1.url}} alt="image" />
        <div>
       <p> {{name}}</p>
       <a href="/albums/{{id}}">View Albums</a>
        
        </div>
      </buttun>
    </li>
  {{/each}}
</ul>