<div class="artist-page">

{{#each result}}
<div class="artist-card">
  <img src="{{images.1.url}}" >
  <div class="card-body"></div>
  <p>{{name}}</p>
  <a href="/albums/{{id}}">View Albums</a>
  </div>
{{/each}}

</div>