<div class="background">
  
<a class="form">
<form name="myForm" action="/artist-search" method="GET">
<input class="box"type="text" name="artist"><br>
<input class ="button" type="submit" value="Search for an Artist">
</form>
</a>
</div>



