<div class="main-container">
  <div class="form-container">
    <form action="/artist-search-results" method="GET">
      <input type="text" placeholder="Search for an artist!" name="artist">
      <button class="btn" type="submit"></button>
    </form>
  </div>
</div>
