<div class="search-container">
  <form action="/artist-search", method="GET">
    <input type="text" placeholder="Type an artist that you love..." name="term" />
    <button>Search for an Artist!</button>
  </form>
</div>
