  <div id="home"> <img src="/images/spotify-background.jpeg"/>
<div class="search-container"> 
  <form action="/artist-search" action="/artist-search", method="GET">
    <input type="text" placeholder="" name="term" />
    <button>Search for an Artist</button>
  </form>
</div>
</div>