<form class="form-inline" action="/artist-search" method="GET">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputArtist" class="sr-only">Search for an Artist</label>
    <input type="text" name="term" class="form-control" id="inputArtist" placeholder="Search for an Artist">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search for an Artist</button>
</form>
