
<div class="search-container"> 
   <img src="/images/spotify-background.jpeg"/>

   <div class="form-container"></div>

  <form action="/artist-search" action="/artist-search", method="GET">
    <input type="text" placeholder="" name="term" />
    <button>Search for an Artist</button>
  </form>
  </div>

</div>