<section class="home">
  <div class="borderForm">
    <form class="form-group rounded-0" action="/artist-search" method="GET">
        <input type="text" name="term" class="form-control form-control rounded-0" id="inputArtist" placeholder="Search for an artist!">
        <button type="submit" class="btn mb-2 rounded-0">Search for an Artist</button>
    </form>
  </div>
  
</section>




