<div class="search-form";>
  <form action="/artist-search" , method="GET">
    <input class="input-form" type="text" name="artist" placeholder="Search for an Artist !" />
    <button class="btn-form">Search for an Artist</button>  
  </form>
</div>
