<div class="background">
<div class="miniBox">
<h1>Welcome to MusicFind</h1>
<a class="form">
<form name="myForm" action="/artist-search" method="GET">
<input class="box"type="text" name="artist"><br>
<input class ="interfaceButton" type="submit" value="Search for an Artist">
</form>
</a>
</div>
</div>



