<div class="search-form">
  <div>
    <form action="/search" method="GET">
      <input type="search" name="artist" aria-label="Search through site content" placeholder="Music ♪">
  </div>
  <div><button type="submit">Search for an Artist</button></form>
  </div>
</div>

