<html>
  <head>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <section id="main_header">
      <div class="main_box">

        {{{body}}}

      </div>
    </section>
  </body>
</html>