  
<div>
 <h3>Title</h3>
 <h3>Track</h3>
        
        {{#each tracks}}
       
  <h3> "{{name}}"</h3>
            
  <audio controls src="{{preview_url}}"></audio>
       
        {{/each}}
    
</div>