<div class="container">
  <div class="col" style="width: 30%;">
    <div class="card mb-3">
      <img src="{{images.0.url}}" class="mx-auto d-block beer-card-img card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <form action="/tracks/{{id}}" method="GET">
         <button type="submit">View Tracks</button>
        </form>
      </div>
    </div>

  </div>
</div>