<div id='album-container'>
    {{!-- <div><img src="{{images.0.url}}"> </div>     --}}
    <div id='album-description'>
        {{this.name}}
        {{!-- <div>
            <button>View Tracks</button>
        </div> --}}

    </div>