<div class="card" style="width: 18rem;">
  <img src="{{images.0.url}}" class="card-img-top" alt="this band has no image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">some text</p>
    <a href="albums/{{this.id}}" class="btn btn-primary">See Albums</a>
  </div>
</div>
    