<div class="artistPartials">
    <img src="{{images.0.url}}" class="partials-image">
    <div class="artist-text">
        <h2>{{name}}</h2>
        <a href="/albums/{{id}}" class="view-tracks-button">View Albums</a>
    </div>
</div>