<div class="container">
    <div class="card">
         <div class="card-image-top">
     <img src="{{images.0.url}}"> 
 </div>
    <div class="card-body">
        <h2>{{name}}</h2>
    <p>{{description}}</p>
    </div>

   <a href="/albums/{{id}}">View Albums</a>
    </div>
</div>
