<div class="card p-2 m-2" style="width: 18rem;">
  <img src="{{this.images.0.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/album/{{id}}" class="btn btn-light">Go to album</a>
  </div>
</div>