<div>
    <img src=" {{images.[0].url}} " alt="artists images">
</div>
<div>
    <h3>{{ name }}</h3>
    {{!-- <button type="submit">View Albums</button> --}}
    <a href="/albums/someArtistIdGoesHere">View Albums</a>
</div>