<div class="nav">
    <a href="/">Home</a>
    <a href="https://open.spotify.com/artist/2oWYReGFzdcjvgUC5aizxv" target="new">not home</a>
    <a href="https://open.spotify.com/artist/5Nx3gPpU2OFLI80rv7fDX5" target="new">even further from home</a>
    <a href="https://open.spotify.com/artist/3Vl9fyKMIdLMswk8ai3mm9" target="new">now this what</a>

</div>