{{!-- <div class="card p-2 m-2" style="40%">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <figure>
    <audio
        controls
        src={{preview_url}}>
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
  </div>
</div> --}}

<div class="card m-2 p-2 track" style="100%">
  <div class="card-body">
    {{this.name}}
  </div>
  <figure>
    <audio
        controls
        src={{preview_url}}>
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
</div>