<div class="card" style="width: 18rem;">
  <div class="card-body">
    <figure>
    <figcaption>{{this.name}}</figcaption>
    <audio
        controls
        src="/media/examples/t-rex-roar.mp3">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
{{!--     <a href="/{{this.id}}" class="btn btn-primary">Album</a> --}}
  </div>
</div>