* {
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
  height: 100%;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background: url("/images/concert.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bar {
  margin: 0 auto;
}

.tracks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
