
<div class="alb">
<br>
{{#each dataAlbum}}
  <div class="singArt">

  <img src="{{this.images.0.url}}" alt="">
  <h2>{{name}}</h2>
  <a href="/tracks/{{this.id}}/">View tracks</a>
  
  </div>
{{/each}}

</div>


