<div class="albums">
  <div class="album artist">
    {{#each albums}}
    <div class="artist-cards">
      <img src="{{ this.images.0.url }}"/>
      <div class="artist-container">
        <h2>{{ this.name }}</h2>
        <a href="/tracks/{{this.id}}">View Tracks</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>