<form class="mx-auto" action="/artists" method="GET">
  <div class="form-group">
    <label>Search for an Artist</label>
    <input type="text" class="form-control" placeholder="e.g. The Beatles" name="search">
    {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>