<div class = "background">
  <div class = "home">
  <form action="/artists" method="GET">
    <input
      type="text"
      name="search_query"
      placeholder="Search for anything..."
    />
    <button type="submit">Search</button>
  </form>
</div>

</div>

