<form action="/artists-data" method="GET">
  <input type="text" name="artists_search" placeholder="What are you looking for?">
  {{!-- <input type="text" name="limit" placeholder="Write your limit here"> --}}
  <button type="submit">Search for an Artist</button>
  {{!-- <button type="reset">Reset</button> --}}
</form>
