 <div class="search-bar">
 <form action="/artists" method="GET">
      <input
        type="text"
        name="search_query"
        placeholder="Search for anything..."
      />
   {{!--    <input type="number" name="limit" placeholder="How many results?" /> --}}
      <button type="reset">Reset</button>
      <button type="submit">Search</button>
 </form>
 </div>