<div class="searchBar">
<form action="/artist" method="GET">
  <input type="text" name='search_query' placeholder="Search for an artist..."/>
  <br>
  <button type="submit">Search for an Artist</button>

</form>

</div>