<html>
<header>

</header>

<body>
  
  <form action="/artists" method="GET">
    <input type="text" name="search" placeholder="Search for anything..." />
    <button>Search for an artist</button>
  </form>
</body>

</html>