<div class='wrapper'>
  <div class="search-container">   
    <form action="/artist" method='GET'>      
      <input name="artist" placeholder="search artist"/>
      <div>
      <button>Search for an Artist</button>
      </div>
    </form>
  </div>
</div>