<div class="home-page-container">
    <div class="form-container">
        <form action="/artist" method="GET" class="index-form">
            <input type="text" name="artist_name" placeholder="Artist Name" class="form-control form-control-lg">
            <button class="btn btn-primary btn-lg">Search for an Artist</button>
        </form>
    </div>
</div>
