<form  action="/artists" method="GET">
  <div class="form-group">
    <input type="text" name="search_query" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary">Search for an artist</button>
</form>