<div class="background">
  <form class="container-index" action="/artists" method="GET">
    <input class="container-search" type="text" name="search_query" placeholder="Search for an artist!" />
    <button class="container-button" type="submit">Search for an artist</button>
  </form>
  </div>
</div>