<html>

<head>
    <title>Spotify Web Api Lab</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    {{>navbar}}
    {{{body}}}
</body>

</html>