<div class="tracks">
  <div class="row header-track">
    <p class="col-lg-8">Title</p>
    <p class="col-lg-4">Listen</p>
  </div>
  <div class="track-container">
  {{#each tracks}}
    <div class="row track-item">
      <p>{{ this.name }}</p>
      <audio controls src="{{this.preview_url}}"></audio>
    </div>
  {{/each}}
  </div>

</div>