<div class="tracks">
  <div class="track-title">
    <div class="row header-row">
      <h1 class="col-lg-8">Title</h1>
      <h1 class="col-lg-4">Listen</h1>
    </div>
    <div class="row track-item">
      {{#each tracks}}
        <h2>{{ this.name }}</h2>
        <audio controls src="{{preview_url}}"></audio>
      {{/each}}
    </div>
  </div>
</div>