<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Listen</th>
    </tr>
  </thead>
  <tbody>
      {{#each data.items}}
        <tr>
            <td>{{name}}</td>
            <td>Otto</td>
        </tr>
      {{/each}}
  </tbody>
</table>
